  <style>
     #myInput {
      background-image: url('/css/searchicon.png');
      background-position: 10px 10px;
      background-repeat: no-repeat;
      width: 100%;
      font-size: 16px;
      padding: 12px 20px 12px 40px;
      border: 1px solid #ddd;
      margin-bottom: 12px;
    }

    .container2 {
      position: relative;
      height: max-content;
      width: 100%;
      align-items: center;
      display: flex;
      justify-content: center;
      background-color: #fcfcfc;
    }

    .card {
      border-radius: 10px;
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
      width: 100%;
      height: 100%;
      background-color: #ffffff;
      padding: 10px 30px 40px;
    }

    .card h3 {
      font-size: 22px;
      font-weight: 600;

    }

    .drop_box {
      margin: 10px 0;
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      border: 3px dotted #a3a3a3;
      border-radius: 5px;
    }

    .drop_box h4 {
      font-size: 16px;
      font-weight: 400;
      color: #2e2e2e;
    }

    .drop_box p {
      margin-top: 10px;
      margin-bottom: 20px;
      font-size: 12px;
      color: #a3a3a3;
    }

    .btn {
      text-decoration: none;
      background-color: #005af0;
      color: #ffffff;
      padding: 10px 20px;
      border: none;
      outline: none;
      transition: 0.3s;
    }

    .btn:hover {
      text-decoration: none;
      background-color: #ffffff;
      color: #005af0;
      padding: 10px 20px;
      border: none;
      outline: 1px solid #010101;
    }

    .form input {
      margin: 10px 0;
      width: 100%;
      background-color: #e2e2e2;
      border: none;
      outline: none;
      padding: 12px 20px;
      border-radius: 4px;
    }
    td{text-align: center;}
    th{text-align: center;}

    .loader {
  border: 7px solid #f3f3f3;
  border-radius: 50%;
  border-top: 7px solid #7e3af2;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin: 30 0px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.belowLine {
    border: none;
}
  @media only screen and (min-width: 1000px) {
    main .container {
      padding-inline: 10px;

      display: table;
      table-layout: fixed;
      width: 100%;
    }
     main .item {
      /* float:left; */
      display: table-cell;
      padding-inline: 10px;
    }
  }
  main canvas {
    margin: 11px;
    height: 150px;
    width: 172px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}
   .selectionInput input{
    padding-inline: 10px;
    height: 40px;
    font-size: 17px;
    width: 70%;
    font-family: Raleway;
    border: 1px solid #a789da;
    border-radius: 5px;
    margin-bottom: 13px;
    margin-top: 5px;
  }
  .selectionInput select{
    padding-inline: 10px;
    height: 30px;
    font-size: 17px;
    width: 63%;
    font-family: Raleway;
    border: 1px solid #a789da;
    border-radius: 5px;
    margin-top: 20px;
  }
  .selectionInput{
    display: flex;
    justify-content: space-between;
  }
  #step-4  input,#step-4 select{
    background-color: rgb(203, 203, 203);
    color:white;
    height: 30px;
  }
  #step-4 label{
    font-size: 13px;
  }
   main input {
    padding-inline: 10px;
    height: 40px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #a789da;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  .inputwrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .inputwrap label {
    width: 30%;
  }
  main .form-step {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding-inline: 1rem;
    padding: 25px;
}
main label {
    margin-bottom: 10px;
    /* font-family: sans-serif; */
    font-size: 1rem;
}
#previewData{
  padding-inline:42px;
}
main ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
}

main li {
  float: left;
  width: 50%;
  font-weight: bold;
}



</style>
  <main class="h-full pb-16 overflow-y-auto">

  <div class="container px-6 mx-auto grid" id="completestable" style="margin-top: 60px;">
    <div style="text-align: center;list-style:none; ">
    <li><a class="active" id="navpending" onclick="getAllPendingsLabels()">Pending Albums</a></li>
    <li><a  id="navapproved" onclick="getAllApprovedLabels()">Approved Albums</a></li>
    </div>  

    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search By Title.." title="Type in a name">

    <div class="w-full overflow-hidden rounded-lg shadow-xs">
      <div class="w-full overflow-x-auto" style="overflow:scroll; height:350px;">
        
        <table class="w-full whitespace-no-wrap" id="myTable">
          <thead>
            <tr
              class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
              <th class="px-4 py-3">Index</th>
              <th class="px-4 py-3">Title</th>
              <th class="px-4 py-3">YouTube Link</th>
              <th class="px-4 py-3">NDA</th>
              <th class="px-4 py-3">Approve</th>
              <th class="px-4 py-3">Reject</th>
            </tr>
          </thead>
      
          <tbody id = "tableOfCompletes" class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800" style="overflow:scroll; height:400px;">
          <div style="display: flex;text-align: center;justify-content: center;">
      </div>
          </tbody>

        </table>
        
        {{#if errorMessage}}
            <span
                  class="px-2 py-1 font-semibold leading-tight text-orange-700 bg-orange-100 rounded-full dark:text-white dark:bg-orange-600">
                  {{errorMessage}}
                </span>
            {{/if}}
      </div>
</div>
</div>

</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script>

  let CompleteArray = []
  function cleanNullValues(){
    for (let i = 0; i < CompleteArray.length; i++) {
      if(CompleteArray[i].title == null) CompleteArray[i].title =""
      if(CompleteArray[i].labelName == null) CompleteArray[i].labelName =""
      if(CompleteArray[i].originalReleaseDate == null) CompleteArray[i].originalReleaseDate =""
    }
  }
  function updateTableData(){
   cleanNullValues()
   CompleteArray.sort(function(a, b) {
      return a.id - b.id;
   });
   document.getElementById("tableOfCompletes").innerHTML=``
   for (let i = (CompleteArray.length-1); i >= 0 ; i--) {
    console.log(`file link: ${CompleteArray[i].noObjectionFile}`)
        document.getElementById("tableOfCompletes").innerHTML += `
         <tr class="text-gray-700 dark:text-gray-400">
              <td class="px-4 py-3">
               ${i + 1}
              </td>
              <td class="px-4 py-3">
                 ${CompleteArray[i].title}
              </td>
              <td class="px-4 py-3">
                 ${CompleteArray[i].youtubeLink}
              </td>
              <td class="px-4 py-3">
                 <a href ="${CompleteArray[i].noObjectionFile}"" download><i class="fa fa-download" style="font-size:36px"></i></a>
              </td>
              <td class="px-4 py-3">
                 <button 
                    onclick="approveLabel(${CompleteArray[i].id})"
                    class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 focus:outline-none focus:shadow-outline-gray"
                    aria-Complete="Edit">
                  <i class="fa fa-check-circle" style="font-size:36px"></i>
                  </button>
              </td>
              <td class="px-4 py-3">
                <div class="flex items-center space-x-4 text-sm" style="display:flex;justify-content: center">
                  <button 
                    onclick="rejectLabel(${i})"
                    class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 focus:outline-none focus:shadow-outline-gray"
                    aria-Complete="Edit">
                    <i class="fa fa-times-circle" style="font-size:36px"></i>
                  </button>
                </div>
              </td>
            </tr>`
   }
  }
  function  getAllPendingsLabels(){
      fetch('/admin-pending-labels').then(response => {
      if (response.ok) {
        return response.json()
      }
    }).then(async (data) => {
      if (data.labels) {
        CompleteArray = data.labels;
        updateTableData()
        console.log("response data", CompleteArray)
      }
    }).catch((error) => {
      console.error(error)
    });
            document.getElementById('navpending').style = `display: block;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        background-color: #7e3af2;
        color: white;`
            document.getElementById('navapproved').style = `display: block;
        color: black
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;`
        }

 function getAllApprovedLabels(){
      fetch('/admin-approved-labels').then(response => {
      if (response.ok) {
        return response.json()
      }
    }).then(async (data) => {
      if (data.labels) {
        CompleteArray = data.labels;
        updateTableData()
        console.log("response data", CompleteArray)
      }
    }).catch((error) => {
      console.error(error)
    });
    document.getElementById('navapproved').style = `display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #7e3af2;
  color: white;`
    document.getElementById('navpending').style = `display: block;
  color: black
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;`
  }
  function rejectLabel(id) {
    console.log("function not activated")
  }
  function approveLabel(labelID){
         fetch(`/approve-label/${labelID}`).then(response => {
            if (response.ok) {
                return response.json()
            }
            }).then(async (data) => {
            if (data.message) {
                getAllPendingsLabels()
                updateTableData()
            }
            }).catch((error) => {
            console.error(error)
            });
  }

  function myFunction() {
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[1];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
  getAllPendingsLabels()
 
</script>
<script src="https://www.dukelearntoprogram.com/course1/common/js/image/SimpleImage.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- End of modal backdrop -->